<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<context-param>
	<param-name>employee</param-name>
	<param-value>siva sankar reddy uppaluru</param-value>
	</context-param>
	<servlet>
		<servlet-name>Config</servlet-name>
		<display-name>Config</display-name>


		<description></description>

		<servlet-class>configandserveltcontex.Config</servlet-class>
		<init-param>
		<param-name>driver</param-name>
		<param-value>com.mysql.cj.jdbc.driver</param-value>
	</init-param>
	</servlet>
	<servlet>
		<servlet-name>ServeletContexpro</servlet-name>
		<display-name>ServeletContexpro</display-name>
		<description></description>
		<servlet-class>configandserveltcontex.ServeletContexpro</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Config</servlet-name>
		<url-pattern>/Config</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServeletContexpro</servlet-name>
		<url-pattern>/contex</url-pattern>
	</servlet-mapping>

</web-app>
