<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

</head>
<body>
	<h1 class="text-primary">Employee List</h1>

	<a th:href="@{/loadform}" class="text-primary">Add Employee</a>

	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">id</th>
				<th scope="col">FirstName</th>
				<th scope="col">LastName</th>
				<th scope="col">salary</th>
				<th scope="col">experience</th>
				<th scope="col">action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="employee  :${employesslist}">
			<td th:text="${employee.empId}"/>
			<td th:text="${employee.empFristName}"/>
			<td th:text="${employee.empLastName}"/>
			<td th:text="${employee.empSalary}"/>
			<td th:text="${employee.empExpericence}"/>
			<td><a th:href="@{editemp/{id}(id=${employee.empId})}"	 class="btn btn-primary">edit</a></td>
			<td><a th:href="@{deleteemp/{id}(id=${employee.empId})}"	 class="btn btn-primary">delete</a><td>
			</tr>
		</tbody>
	</table>

</body>
</html>